# 1 Writing your own functions

## 1.1 User-defined functions
 * Functions without parameters (매개변수가 없는)
 * Functions with one parameter (하나의 매개변수)
 * Functions that return a value (단일 값을 반환)

In [ ]:
# Function without parameters
def square() : # Function Header
    new_value = 4 ** 2  # Function Body
    print(new_value)
square()

16

In [ ]:
# Function with one parameter
def square(value) : # Function Header
    new_value = value ** 2  # Function Body
    print(new_value)
square(5)

25

In [ ]:
# Function that returns a value
def square(value) : 
    new_value = value ** 2
    return new_value

num = square(4)
print(num)

16

In [35]:
# 만약 return이 아닌 print를 사용할 경우
def square(value) : 
    new_value = value ** 2
    print(new_value)

num = square(4)
print(num)

# num = square(4)라고 하면 square()함수가 실행되어 16이 나오지만, num에게 값을 return(반환)하지 않기 때문에, print(num)을 했을 경우 아무 값이 없다는 뜻으로 None이 출력

16
None

### Docstrings
* Describe what your function does
* Serve as documentation for your function
* Placed in the immediate line after the function header
* In between triple double quotes """

In [ ]:
def square(value) :
    """Return the square of a value."""
    new_value = value ** 2
    return new_value

In [ ]:
# Define the function shout
def shout():
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = 'congratulations'+'!!!'

    # Print shout_word
    print(shout_word)
 
shout()

congratulations!!!

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Print a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    word = word + '!!!'

    # Print shout_word
    print(word)


shout('congratulations')

congratulations!!!

In [ ]:
# Define shout with the parameter, word
def shout(word):
    """Return a string with three exclamation marks"""
    # Concatenate the strings: shout_word
    shout_word = word + '!!!'

    # Replace print with return
    return(shout_word)

# Pass 'congratulations' to shout: yell
yell = shout('congratulations')


print(yell)

congratulations!!!

## 1.2 Multiple parameters and return values
* Make functions return multiple values : Tuples!
* Tuples :
    * Like a list = can contain multiple values
    * immutable = can't modify values! (이미 구성된 튜플의 값을 수정할 수 없음)
    * Constructed using parentheses ()

In [ ]:
even_nums = (2, 4, 6)
print(type(even_nums))

<class 'tuple'>

In [ ]:
# Unpack a tuple into several variables 
a, b, c = even_nums
print(a); print(b); print(c)

2
4
6

In [ ]:
# Acess tuple elements like you do with lists:\
second_num = even_nums[1]
print(second_num)

4

In [ ]:
def raise_both(value1, value2) :
    """Raise value to the power of value2 and vice versa."""
    new_value1 = value1 ** value2
    new_value2 = value2 ** value1

    new_tuple = (new_value1, new_value2)

    return new_tuple


result = raise_both(2,3); print(result)

(8, 9)

In [ ]:
# Define shout with parameters word1 and word2
def shout(word1, word2):
    """Concatenate strings with three exclamation marks"""
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 + '!!!'
    
    # Concatenate shout1 with shout2: new_shout
    new_shout = shout1 + shout2

    # Return new_shout
    return new_shout

# Pass 'congratulations' and 'you' to shout(): yell
yell = shout('congratulations','you')

# Print yell
print(yell)

congratulations!!!you!!!

In [ ]:
# Tuple로 분해
# Define shout_all with parameters word1 and word2
def shout_all(word1, word2):
    
    # Concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    
    # Concatenate word2 with '!!!': shout2
    shout2 = word2 +'!!!'
    
    # Construct a tuple with shout1 and shout2: shout_words
    shout_words = (shout1,shout2)

    # Return shout_words
    return shout_words

# Pass 'congratulations' and 'you' to shout_all(): yell1, yell2
yell1,yell2 = shout_all('congratulations','you')

# Print
print(shout_all('congratulations','you'))
print(yell1)
print(yell2)

('congratulations!!!', 'you!!!')
congratulations!!!
you!!!

## 1.3 Bring it all together
 * Data : 트위터
 * 100개의 트위터 data에서 사용된 언어의 빈도수를 체크

In [68]:
import pandas as pd

PATH = "/content/drive/MyDrive/KUBIG"
df = pd.read_csv(PATH+"/tweets.csv")
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,7.150000e+17,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1.460000e+12,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,7.150000e+17,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1.460000e+12,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,7.150000e+17,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1.460000e+12,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,7.150000e+17,...,7.150000e+17,7.150000e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1.460000e+12,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,7.150000e+17,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1.460000e+12,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [69]:
# Initialize an empty dictionary: langs_count
langs_count = {}

# Extract column from DataFrame: col
col = df['lang']

print(col.head())
print(col.unique())

0    en
1    en
2    et
3    en
4    en
Name: lang, dtype: object
['en' 'et' 'und']

In [70]:
# 할당연산자 "+="  : 왼쪽 변수에 오른쪽 값을 더하고 그 결과를 왼쪽변수에 할당한다
# Iterate over lang column in DataFrame
for entry in col:

    # If the language is in langs_count, add 1 
    if entry in langs_count.keys():
        langs_count[entry] += 1
    # Else add the language to langs_count, set the value to 1
    else:
        langs_count[entry] = 1

# Print the populated dictionary
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [ ]:
# 알바니아어
df.loc[df['lang']== 'et']

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,7.150000e+17,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1.460000e+12,False,"{'utc_offset': 7200, 'profile_image_url_https'..."

In [ ]:
# Undetermined
df.loc[df['lang']== 'und']

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
20,NaN,NaN,Tue Mar 29 23:40:18 +0000 2016,"{'hashtags': [{'text': 'HillYes', 'indices': [...",NaN,0,False,low,NaN,7.150000e+17,...,7.150000e+17,7.150000e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",#HillYes #ImWithHer #RollHillary @HillaryClint...,1.460000e+12,False,"{'utc_offset': -25200, 'profile_image_url_http..."
29,NaN,NaN,Tue Mar 29 23:40:18 +0000 2016,"{'hashtags': [{'text': 'HillYes', 'indices': [...",NaN,0,False,low,NaN,7.150000e+17,...,7.150000e+17,7.150000e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",#HillYes #ImWithHer #RollHillary @HillaryClint...,1.460000e+12,False,"{'utc_offset': -25200, 'profile_image_url_http..."

# 2. Default arguments, variable-length arguments and scope

# 2.1 Scope and user-defined functions
 * Not all objects are aceessible everywhere in a script.
 * Scope - part of the program where an object or name may be accessible
    * Global scope - defined in the main body of a script (전역변수)
    * Local scope - defined inside a function (지역변수)
    * Built-in scope - names in the pre-defined built-ins module (`print` , `sum` 과 같이 python이 기본 제공하는 것들)

In [1]:
# Global VS Local 

def square(value) :
    """Return the square of a value."""
    new_value = value ** 2
    return new_value

square(3)

9

In [2]:
new_value # 지역변수이기 때문에 오류가 남

NameError: ignored

In [17]:
# Global VS Local 2

new_val = 10

def square(value) :
    """Return the square of a value."""
    new_value2 = new_val ** 2
    return new_value2

# new_val이 전역변수이므로
print(square(3)) 
print(square(6))

100
100

In [19]:
new_val = 10

def square(value) : 
    """Returns the square of a number"""
    global new_val
    new_val = 20
    new_val = new_val ** 2
    return new_val

# new_val이 전역변수이지만, "global"을 이용하여 함수 안에서 전역변수의 값을 바꿔줌
print(square(3))
print(square(6))

400
400

In [31]:
# Create a string: team
team = "teen titans"

# Define change_team()
def change_team():
    """Change the value of the global variable team."""

    # Use team in global scope
    global team

    # Change the value of team in global: team
    team = 'justice league'

    return team

print(team)
print(change_team())

teen titans
justice league

## 2.2 Nested functions

### 2.2.1 Nested function

In [37]:
# Nested Function이 필요한 이유 (계산을 여러번 해야할 경우 코드가 길어짐)

def mod2plus5(x1, x2, x3) :
    """Returns the remainder plus 5 of three values."""
    new_x1 = x1 % 2 + 5
    new_x2 = x2 % 2 + 5
    new_x3 = x3 % 2 + 5

    return (new_x1, new_x2, new_x3)

mod2plus5(1,2,3)

(6, 5, 6)

In [39]:
def mod2plus5(x1, x2, x3) : 
    """Returns the remainder plus 5 of three values."""
    def inner(x) :
        """Returns the remainder plus 5 of a value."""
        return x % 2 + 5

    return (inner(x1), inner(x2), inner(x3))
    
mod2plus5(1,2,3)

(6, 5, 6)

In [59]:
# Define three_shouts
def three_shouts(word1, word2, word3):
    """Returns a tuple of strings
    concatenated with '!!!'."""

    # Define inner
    def inner(word):
        """Returns a string concatenated with '!!!'."""
        return word + '!!!'

    # Return a tuple of strings
    return (inner(word1), inner(word2), inner(word3))

# Call three_shouts() and print
three_shouts('a', 'b', 'c')

('a!!!', 'b!!!', 'c!!!')

### 2.2.2 Returning Function

In [41]:
def raise_val(n) :
    """Return the inner function."""

    def inner(x) :
        """Raise x to the power of n."""
        raised = x ** n
        return raised
    
    return inner

square = raise_val(2)
print(square) # 숫자를 제곱하는 또다른 함수가 생성된다

<function raise_val.<locals>.inner at 0x7fa0e49ba430>

In [43]:
cube = raise_val(3) 
print(cube) # 숫자를 세제곱하는 또다른 함수가 생성된다

<function raise_val.<locals>.inner at 0x7fa0e4974ee0>

In [44]:
print(square(2), cube(4))

4 64

In [58]:
# Define echo
def echo(n):
    """Return the inner_echo function."""

    # Define inner_echo
    def inner_echo(word1):
        """Concatenate n copies of word1."""
        echo_word = word1 * n
        return echo_word

    # Return inner_echo
    return inner_echo

# Call echo: twice
twice = echo(2)

# Call echo: thrice
thrice = echo(3)

# Call twice() and thrice() then print
print(twice('hello'), thrice('hello'))

hellohello hellohellohello

### 2.2.3 Using nonlocal
 * global : 일반함수 내에서 전역 변수를 대상으로 사용
 * nonlocal : 중첩함수 내에서 비지역 변수를 대상으로 사용

In [50]:
# num : print_nums() 입장에서 보면 지역 변수 / change_num() 입장에서 보면 비지역 변수

def print_nums():
    num = 0 # 비지역 변수

    def change_num():
        print(num)

    change_num()
    print(num)

print_nums()  # change_num()과 print(num)의 값

0
0

In [51]:
# change_num 안에서 num 값을 바꾸기

def print_nums():
    num = 0

    def change_num():
        num = 100
        print(num)

    change_num()
    print(num)

print_nums()  # change_num()과 print(num)의 값

100
0

In [56]:
# change_num() 함수 바깥에서 선언된 num이라는 비지역 변수의 값을 change_num() 함수 안에서 갱신하고 싶은 경우
# Using nonlocal

def print_nums():
    num = 0

    def change_num():
        nonlocal num
        num = 100
        print(num)

    change_num()
    print(num)

print_nums() # change_num()과 print(num)의 값

100
100

## 2.3 Default and Flexible Arguments

### 2.3.1 Add a default argument

In [61]:
def power(number, pow=1) :
    """Raise number to the power of pow."""
    new_value = number ** pow
    return new_value

power(9,2)

81

In [62]:
power(9)

9

In [75]:
# Define shout_echo
def shout_echo(word1, echo=1, intense=False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new



# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo("Hey", echo=5, intense=True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo("Hey", intense=True)

# Print values
print(with_big_echo)
print(big_no_echo)
print(shout_echo("Hey", intense=False))

HEYHEYHEYHEYHEY!!!
HEY!!!
Hey!!!

### 2.3.2 Flexible arguments : `*args`
 * 사용자가 전달하려는 인수의 수가 확실하지 않을 때
 * `*args` 가 아니라 `*a` , `*abc` 로 써도 상관 없음

In [71]:
# 앞에서 나왔던 할당 연산자 +=

def add_all(*args) :
    """Sum all values in *args together."""

    # Initialize sum
    sum_all = 0

    #$ Accumulate the sum
    for num in args :
        sum_all += num

    return sum_all

In [72]:
add_all(5,10,15,20)

50

In [76]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ''

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge


# Call gibberish() with one string: one_word
one_word = gibberish("luke")

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

### 2.3.3 Flexible arguments : `**kwargs` (=keyword argument)
 * (키워드 = 특정값) 형태로 함수를 호출 (사전의 형식)
 * `**kwargs` 가 아니라 `**a` , `**abc` 로 써도 상관 없음

In [73]:
def name_and_age(**kwargs):
	print(kwargs)
    
name_and_age(name="홍길동", age="50")

{'name': '홍길동', 'age': '50'}

In [79]:
# \n : 개행

# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

In [80]:
# First call to report_status()
report_status(name='luke',affiliation='jedi',status='missing')

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

In [78]:
# Second call to report_status()
report_status(name='anakin', affiliation='sith lord', status='deceased')

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

### 2.3.4 Twitter Data로 연습

In [82]:
import pandas as pd

PATH = "/content/drive/MyDrive/KUBIG"
df = pd.read_csv(PATH+"/tweets.csv")

In [88]:
# Define count_entries()

def count_entries(df, col_name):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(df,'lang')

# Call count_entries(): result2
result2 = count_entries(df,'source')

In [86]:
# Print result1
print(result1)

{'en': 97, 'et': 1, 'und': 2}

In [89]:
df.source.head()

0    <a href="http://twitter.com" rel="nofollow">Tw...
1    <a href="http://twitter.com" rel="nofollow">Tw...
2    <a href="http://www.facebook.com/twitter" rel=...
3    <a href="http://twitter.com/download/android" ...
4    <a href="http://twitter.com/download/iphone" r...
Name: source, dtype: object

In [87]:
# 각 소스 별 횟수
# Print result2
print(result2)

{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

In [ ]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(df, 'lang')

# Call count_entries(): result2
result2 = count_entries(df, 'lang', 'source')

In [90]:
# Print result1
print(result1)

{'en': 97, 'et': 1, 'und': 2}

In [91]:
# Print result2
print(result2)

{'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}